<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Projeto Detetive - Início</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="page-index">

  <h1>Projeto Detetive</h1>
  <p>A sua ferramenta para desvendar os maiores mistérios.</p>
  
  <form action="{{ url_for('jogo') }}" method="get">
    <button type="submit" class="btn btn-primario btn-grande">Iniciar Investigação</button>
  </form>

</body>
</html>

